* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: #f0f8ff;
}

h1{
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  color: #333;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team-card {
  width: 200px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  height: 260px;
  text-align: center;
  border-radius: 25px;
  margin-top: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.team-header img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  transition: transform 0.3s ease;
  margin-top: 10px;
}

.team-card:hover .team-header img {
  transform: scale(1.1);
}
.team-header h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
  color: black;
  transition: color 0.3s ease;
}

.team-header p {
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.5;
  color: black;
  transition: color 0.3s ease;
  font-weight: 600;
}

.team-card:hover .team-header h2 {
  color: white;
}

.team-card:hover .team-header p {
  color: white;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
.social-links a i {
  font-size: 20px;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.3s;
}

.social-links a i:hover {
  color: white;
  transform: scale(1.2);
}
